// 设置滚动条样式
::-webkit-scrollbar {
  width: 10px;
  height: 10px;

}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #eee;
}

// 主题色
.yn-primary-color {
  color: #1890ff;
}

// 标题、重要⽂本
.lb-text-color {
  color: #1a253b;
}

// 次⽂本⾊
.lb-text-color-secondary {
  color: #4e5d78;
}

// 标签⽂本、按钮
.lb-label-color {
  color: #8894a8;
}

// 辅助、说明⽂字、失效⾊
.lb-disabled-color {
  color: #bcc1cc;
}

// 失效背景⾊
.lb-disabled-bg-color {
  color: #f5f5f7;
}

// disable、提醒⽂字
.lb-auxiliary-color {
  color: #d0d3db;
}

// 边框/分割色
.lb-border-color-base {
  color: #e1e5eb;
}

// 边框/分割色
.lb-error {
  color: #ff4d51;
}

.ohn {
  overflow: hidden;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.tc {
  text-align: center;
}

.tl {
  text-align: left;
}

.tr {
  text-align: right;
}

.fb {
  font-weight: 600;
}

.f12 {
  font-size: 12px;
}

.f22 {
  font-size: 22px;
}

.lb-flex {
  display: flex;
}

.lb-flex-bw {
  justify-content: space-between;
}

.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.mtb10 {
  margin: 10px 0;
}

.mt8 {
  margin-top: 8px;
}

.mt20 {
  margin-top: 20px;
}

.mt36 {
  margin-top: 36px;
}

.mb36 {
  margin-bottom: 36px;
}


.mt50 {
  margin-top: 50px;
}

.ml8 {
  margin-left: 8px
}

.ml16 {
  margin-left: 16px
}

.lh32 {
  line-height: 32px;
}

.pointer {
  cursor: pointer;
}


// lable换行
.el-table .cell {
  white-space: pre-line !important;
}

.el-form-item__label {
  white-space: pre-line !important;
}

.transaction-box {
  .el-form-item__label {
    line-height: 18px !important;
  }
}

// 分割线颜色
.el-divider__text {
  color: #97a8be;
}
